<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879554585787-4olg9drdthb8bc9pipeqfj241tm8hpqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879554585787-4olg9drdthb8bc9pipeqfj241tm8hpqn</string>
	<key>API_KEY</key>
	<string>AIzaSyCWuiIem7shp6XWkfZrOQ_GHjggPGegsi4</string>
	<key>GCM_SENDER_ID</key>
	<string>879554585787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.a7company.tgapp</string>
	<key>PROJECT_ID</key>
	<string>tgapp-8099d</string>
	<key>STORAGE_BUCKET</key>
	<string>tgapp-8099d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879554585787:ios:61cc53bd5054a39718759e</string>
</dict>
</plist>